
/* Estilos para o cabeçalho */
header {
    background-color: #F7941D;
    text-align: center;
    padding: 20px 0;
    color: white;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

header img {
  width: 50px;
}
  
  /*descrição do jogo */
  .section-description {
    font-size: 24px;
    color: #F7941D;
  }
  
  /* Componentes */
  .member-list {
    font-size: 20px;
    color: #F7941D;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .member-list li {
    margin-bottom: 10px;
  }
  
  /* log de desenvolvimento */
  .section-log {
    font-size: 24px;
    color: #F7941D;
  }
  
  .log-text {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  /*botão de download */
  .download-button {
    background-color: #F7941D;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 4px;
  }
  
  @keyframes pulsar {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  
  /* lista de instruções */
  .instruction-list {
    font-size: 100px;
    color: #F7941D;
    list-style-type: decimal;
    margin: 0;
    padding: 0;
  }
  
  .instruction-list li {
    margin-bottom: 10px;
  }
  
  /* vídeo */
  .section-video {
    font-size: 24px;
    color: #F7941D;
  }
  
  .video-player {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
  }
  
  /*avaliação heurística */
  .section-evaluation {
    font-size: 24px;
    color: #F7941D;
  }
  
  .evaluation-text {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer {
    background-color: #F7941D;
    text-align: center;
    padding: 20px 0;
    color: white;
    width: 100%;
    position: absolute;
    left: 0;
    }
    .pulsar {
      animation-name: pulsar ;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    
    }
    
  
    header {
			background-color: #F7941D;
			text-align: center;
			padding: 5px 0;
			color: white;
			width: 100%;
			left: 0;
			position: fixed;
			top: 0;
			z-index: 1;
		}

		/* Estilos para o menu */
		nav {
			top: 70px;
			left: 0; /* Modificação: Posiciona o menu à esquerda */
			background-color: #F7941D;
			z-index: 1;
			display: flex;
			flex-direction: row;
			padding: 10px;
			border-radius: 4px;
			position: absolute ;
			top: 27px;
		}

		nav ul {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;
		}

		nav li {
			margin-bottom: 10px;
		}

		nav a {
			color: white;
			text-decoration: none;
			font-size: 16px;
			font-weight: bold;
			padding: 10px;
			border-radius: 4px;
			transition: background-color 0.3s ease;
		}

		nav a:hover {
			background-color: #F36D21;
		}

		/* Estilos para as seções */
		section {
			margin-top: 120px;
			text-align: center;
			scroll-margin-top: 70px;
			font-family: Arial, sans-serif;
			padding: 20px;
		}

		.section-description {
			font-size: 24px;
			color: #F7941D;
			max-width: 100%;
			margin: 0 auto;
		}

		/* Componentes */
		.member-list {
			font-size: 30px;
			color: #F7941D;
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		.member-list li {
			margin-bottom: 10px;
		}

		/* log de desenvolvimento */
		.section-log {
			font-size: 24px;
			color: #F7941D;
		}

		.log-text {
			font-family: Arial, sans-serif;
			font-size: 16px;
			line-height: 1.5;
			margin-bottom: 10px;
		}

		/*botão de download */
		.download-button {
			background-color: #F7941D;
			border: none;
			color: white;
			padding: 10px 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 20px;
			margin: 20px 0;
			cursor: pointer;
			border-radius: 4px;
			animation: pulsar 1s;
		}

		/* Efeito de scroll suave */
		html {
			scroll-behavior: smooth;
		}
    /* log de desenvolvimento */
.section-log {
  font-size: 24px;
  color: #F7941D;
  display: flex;
  flex-wrap: wrap;
}

.log-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.log-box {
  border: 1px solid #F7941D;
  width: calc(50% - 10px);
}

textarea {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border: none;
  resize: none;
}
